Trabalho-Final/node-red/flows.json
[
    {
       "id":"d78da4550da9bf2a",
       "type":"tab",
       "label":"Fluxo Principal",
       "disabled":false,
       "info":""
    },
    {
       "id":"mqtt_broker",
       "type":"mqtt-broker",
       "name":"Aedes Broker",
       "broker":"localhost",
       "port":"1883",
       "clientid":"",
       "autoConnect":true,
       "usetls":false,
       "protocolVersion":"4",
       "keepalive":"60",
       "cleansession":true,
       "autoUnsubscribe":true,
       "birthTopic":"",
       "birthQos":"0",
       "birthPayload":"",
       "birthMsg":{
          
       },
       "closeTopic":"",
       "closePayload":"",
       "closeMsg":{
          
       },
       "willTopic":"",
       "willQos":"0",
       "willPayload":"",
       "willMsg":{
          
       },
       "userProps":"",
       "sessionExpiry":""
    },
    {
       "id":"e1d54d097bd96286",
       "type":"ui_group",
       "name":"Default",
       "tab":"40d42d1229455441",
       "order":1,
       "disp":true,
       "width":"6",
       "collapse":false,
       "className":""
    },
    {
       "id":"fc6c944d20ae30c8",
       "type":"ui_base",
       "theme":{
          "name":"theme-light",
          "lightTheme":{
             "default":"#0094CE",
             "baseColor":"#0094CE",
             "baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
             "edited":true,
             "reset":false
          },
          "darkTheme":{
             "default":"#097479",
             "baseColor":"#097479",
             "baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
             "edited":false
          },
          "customTheme":{
             "name":"Untitled Theme 1",
             "default":"#4B7930",
             "baseColor":"#4B7930",
             "baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
          },
          "themeState":{
             "base-color":{
                "default":"#0094CE",
                "value":"#0094CE",
                "edited":false
             },
             "page-titlebar-backgroundColor":{
                "value":"#0094CE",
                "edited":false
             },
             "page-backgroundColor":{
                "value":"#fafafa",
                "edited":false
             },
             "page-sidebar-backgroundColor":{
                "value":"#ffffff",
                "edited":false
             },
             "group-textColor":{
                "value":"#1bbfff",
                "edited":false
             },
             "group-borderColor":{
                "value":"#ffffff",
                "edited":false
             },
             "group-backgroundColor":{
                "value":"#ffffff",
                "edited":false
             },
             "widget-textColor":{
                "value":"#111111",
                "edited":false
             },
             "widget-backgroundColor":{
                "value":"#0094ce",
                "edited":false
             },
             "widget-borderColor":{
                "value":"#ffffff",
                "edited":false
             },
             "base-font":{
                "value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
             }
          },
          "angularTheme":{
             "primary":"indigo",
             "accents":"blue",
             "warn":"red",
             "background":"grey",
             "palette":"light"
          }
       },
       "site":{
          "name":"Node-RED Dashboard",
          "hideToolbar":"false",
          "allowSwipe":"false",
          "lockMenu":"false",
          "allowTempTheme":"true",
          "dateFormat":"DD/MM/YYYY",
          "sizes":{
             "sx":48,
             "sy":48,
             "gx":6,
             "gy":6,
             "cx":6,
             "cy":6,
             "px":0,
             "py":0
          }
       }
    },
    {
       "id":"40d42d1229455441",
       "type":"ui_tab",
       "name":"Home",
       "icon":"dashboard",
       "disabled":false,
       "hidden":false
    },
    {
       "id":"1052212e1d0a94d9",
       "type":"aedes broker",
       "z":"d78da4550da9bf2a",
       "name":"",
       "mqtt_port":"1884",
       "mqtt_ws_bind":"port",
       "mqtt_ws_port":"",
       "mqtt_ws_path":"",
       "cert":"",
       "key":"",
       "certname":"",
       "keyname":"",
       "dburl":"",
       "usetls":false,
       "x":90,
       "y":260,
       "wires":[
          [
             
          ]
       ],
       "outputLabels":[
          "controle",
          "sensor"
       ]
    },
    {
       "id":"a4289f9023d8fa6e",
       "type":"mqtt out",
       "z":"d78da4550da9bf2a",
       "name":"Ligar/Desligar",
       "topic":"ar-condicionado/estado",
       "qos":"0",
       "retain":"",
       "respTopic":"",
       "contentType":"",
       "userProps":"",
       "correl":"",
       "expiry":"",
       "broker":"mqtt_broker",
       "x":480,
       "y":260,
       "wires":[
          
       ]
    },
    {
       "id":"51f16d753ca11d9a",
       "type":"ui_switch",
       "z":"d78da4550da9bf2a",
       "name":"Switch AC",
       "label":"Ar Condicionado",
       "tooltip":"",
       "group":"e1d54d097bd96286",
       "order":3,
       "width":"6",
       "height":1,
       "passthru":false,
       "decouple":"false",
       "topic":"",
       "topicType":"str",
       "style":"",
       "onvalue":"ON",
       "onvalueType":"str",
       "onicon":"",
       "oncolor":"",
       "offvalue":"OFF",
       "offvalueType":"str",
       "officon":"",
       "offcolor":"",
       "animate":true,
       "className":"",
       "x":290,
       "y":260,
       "wires":[
          [
             "a4289f9023d8fa6e"
          ]
       ]
    },
    {
       "id":"4cfc9c7f047f8338",
       "type":"mqtt out",
       "z":"d78da4550da9bf2a",
       "name":"Temperatura Ajustada",
       "topic":"ar-condicionado/temperatura",
       "qos":"0",
       "retain":"",
       "respTopic":"",
       "contentType":"",
       "userProps":"",
       "correl":"",
       "expiry":"",
       "broker":"mqtt_broker",
       "x":540,
       "y":380,
       "wires":[
          
       ]
    },
    {
       "id":"ad7639e2dc7bede3",
       "type":"ui_slider",
       "z":"d78da4550da9bf2a",
       "name":"Controle Temperatura",
       "label":"",
       "tooltip":"",
       "group":"e1d54d097bd96286",
       "order":5,
       "width":"6",
       "height":1,
       "passthru":true,
       "outs":"all",
       "topic":"ar-condicionado/temperatura",
       "topicType":"str",
       "min":"17",
       "max":"25",
       "step":"1",
       "className":"",
       "x":300,
       "y":380,
       "wires":[
          [
             "4cfc9c7f047f8338",
             "1234567890abcdef"
          ]
       ]
    },
    {
       "id":"61c52df8099822a7",
       "type":"mqtt in",
       "z":"d78da4550da9bf2a",
       "name":"Temperatura",
       "topic":"sensor/temperatura",
       "qos":"2",
       "datatype":"auto",
       "broker":"mqtt_broker",
       "nl":false,
       "rap":false,
       "inputs":0,
       "x":270,
       "y":120,
       "wires":[
          [
             "70e2d1f010ad5b60"
          ]
       ]
    },
    {
       "id":"33de87635db35cf4",
       "type":"ui_chart",
       "z":"d78da4550da9bf2a",
       "name":"Temperatura",
       "group":"e1d54d097bd96286",
       "order":1,
       "width":0,
       "height":0,
       "label":"Temperatura (°C)",
       "chartType":"line",
       "legend":"false",
       "xformat":"HH:mm",
       "interpolate":"linear",
       "nodata":"Nenhum dado",
       "dot":false,
       "ymin":"",
       "ymax":"",
       "removeOlder":"15",
       "removeOlderPoints":"",
       "removeOlderUnit":"60",
       "cutout":"",
       "useOneColor":false,
       "useUTC":false,
       "colors":[
          "#1f77b4",
          "#ff7f0e",
          "#000000",
          "#000000",
          "#000000",
          "#000000",
          "#000000",
          "#000000",
          "#000000"
       ],
       "outputs":1,
       "useDifferentColor":false,
       "className":"",
       "x":650,
       "y":120,
       "wires":[
          [
             
          ]
       ]
    },
    {
       "id":"70e2d1f010ad5b60",
       "type":"function",
       "z":"d78da4550da9bf2a",
       "name":"Calcular Média",
       "func":"let values = context.get('values') || [];\nlet total = context.get('total') || 0;\n\n// Adicionar novo valor\nlet newValue = parseFloat(msg.payload);\nvalues.push(newValue);\ntotal += newValue;\n\n// Manter apenas os últimos 7 valores\nif (values.length > 7) {\n    let removed = values.shift();\n    total -= removed;\n}\n\n// Calcular média\nlet average = total / values.length;\n\n// Atualizar contexto\ncontext.set('values', values);\ncontext.set('total', total);\n\n// Definir a média como a nova carga útil\nmsg.payload = average;\nreturn msg;",
       "outputs":1,
       "timeout":0,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "libs":[
          
       ],
       "x":460,
       "y":120,
       "wires":[
          [
             "33de87635db35cf4"
          ]
       ]
    },
    {
       "id":"1bb6e39eeb3477d9",
       "type":"mqtt in",
       "z":"d78da4550da9bf2a",
       "name":"Umidade",
       "topic":"sensor/umidade",
       "qos":"0",
       "datatype":"auto",
       "broker":"mqtt_broker",
       "nl":false,
       "rap":false,
       "inputs":0,
       "x":220,
       "y":180,
       "wires":[
          [
             "9683eb37c388712b"
          ]
       ]
    },
    {
       "id":"f7e3e5d04225741b",
       "type":"ui_gauge",
       "z":"d78da4550da9bf2a",
       "name":"Umidade Gauge",
       "group":"e1d54d097bd96286",
       "order":2,
       "width":0,
       "height":0,
       "gtype":"gage",
       "title":"Umidade (%RH)",
       "label":"%RH",
       "format":"{{msg.payload}}",
       "min":0,
       "max":"100",
       "colors":[
          "#00b500",
          "#e6e600",
          "#ca3838"
       ],
       "seg1":"",
       "seg2":"",
       "diff":false,
       "className":"",
       "x":660,
       "y":180,
       "wires":[
          
       ]
    },
    {
       "id":"9683eb37c388712b",
       "type":"function",
       "z":"d78da4550da9bf2a",
       "name":"Processar Umidade",
       "func":"msg.payload = parseFloat(msg.payload).toFixed(2);\nreturn msg;",
       "outputs":1,
       "timeout":"",
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "libs":[
          
       ],
       "x":450,
       "y":180,
       "wires":[
          [
             "f7e3e5d04225741b"
          ]
       ]
    },
    {
       "id":"1234567890abcdef",
       "type":"ui_text",
       "z":"d78da4550da9bf2a",
       "group":"e1d54d097bd96286",
       "order":4,
       "width":"6",
       "height":1,
       "name":"Temperatura Selecionada",
       "label":"Temperatura Selecionada",
       "format":"{{msg.payload}} ºC",
       "layout":"row-spread",
       "className":"",
       "style":false,
       "font":"",
       "fontSize":"",
       "color":"#000000",
       "x":550,
       "y":440,
       "wires":[
          
       ]
    }
 ]